.controlPanel {
	display: grid;
	grid-column: 1/-1;
	grid-template-columns: subgrid;
	grid-template-rows: min-content 1fr;
	flex: 1;

	/* padding: var(--spacing-md); */
}

.bracket {
	transform: rotate(180deg);
	grid-column: 1 / -2;
	margin-bottom: var(--spacing-md);
}

.tbd {
	display: grid;
	grid-column: 1/4;
	grid-template-columns: subgrid;
	grid-template-rows: max-content auto;

	/* gap: 8px; */
}

.ctas {
	display: flex;
	grid-column: 4/6;

	/* grid-template-columns: subgrid; */
	flex-direction: column;
	gap: var(--spacing-sm);
	align-items: center;

	text-transform: uppercase;
}

.slot {
	grid-column: span 1;
}